<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/server_status">Server Status</a></li>
            <li><a href="/visualize">Visualize</a></li>
            <li><a href="/userlist">User List</a></li>
            <li><a href="/add_user_license">Add User License</a></li>
            <li><a href="/request_api_key">Request API Key</a></li>
            <li><a href="/activate_api_key">Activate API Key</a></li>
        </ul>
    </div>

    <div>
        <h2>Add API key for user {{username}}</h2>
        <form id="activateAPIKey">
            <label for="api_key">API Key:</label>
            <input type="text" id="api_key" name="api_key" required>
            <br>
            <input type="submit" value="Activate API Key">
        </form>
        <div>
            <div><div>Response:</div><div id="response"></div></div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#activateAPIKey").submit(function(event){
                event.preventDefault();

                var formData = {
                    "api_key": $("#api_key").val(),
                    "lan_ip_address": "test",
                    "remote_ip_address": "test",
                    "node_port": "test",
                    "public_key": "test"
                };

                $.ajax({
                    type: "POST",
                    url: "/activate_api_key",
                    data: JSON.stringify(formData),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(response, textStatus, xhr) {
                        $("#response").text(response.message);
                    },
                    error: function(error){
                        $("#response").text(error.responseJSON.message);
                    }
                });
            });
        });
    </script>
</body>
</html>
