<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            margin: 10px 0;
        }
    </style>
</head>

<body>
    <h1>{{ welcome_message }}</h1>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/server_status">Server Status</a></li>
        <li><a href="/visualize">Visualize</a></li>
        <li><a href="/userlist">User List</a></li>
        <li><a href="/add_user_license">Add User License</a></li>
        <li><a href="/request_api_key">Request API Key</a></li>
        <li><a href="/activate_api_key">Activate API Key</a></li>
    </ul>
</body>

</html>
