<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/server_status">Server Status</a></li>
            <li><a href="/visualize">Visualize</a></li>
            <li><a href="/userlist">User List</a></li>
            <li><a href="/add_user_license">Add User License</a></li>
            <li><a href="/request_api_key">Request API Key</a></li>
            <li><a href="/activate_api_key">Activate API Key</a></li>
        </ul>
    </div>

    <div>
        <h2>Add API key for user {{username}}</h2>
        <form id="requestAPIKey">
            <label for="license_name">License for API Key:</label>
            <input type="text" id="license_name" name="license_name" required>
            <br>
            <input type="submit" value="Request API Key For License">
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{csrf_token}}">
        </form>
        <div>
            <div><div>Response:</div><div id="response"></div></div>
            <div><div>API Key:</div><div id="api_key"></div></div>
            <div><div>API Key Hash:</div><div id="api_key_hash"></div></div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#requestAPIKey").submit(function(event){
                event.preventDefault();

                var formData = {
                    "license_name": $("#license_name").val(),
                    "csrf_token": $("#csrf_token").val()
                };

                $.ajax({
                    type: "POST",
                    url: "/request_api_key",
                    data: JSON.stringify(formData),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(response, textStatus, xhr) {
                        $("#response").text(response.message);
                        $("#api_key").text(response.api_key);
                        $("#api_key_hash").text(response.api_key_hash);
                    },
                    error: function(error){
                        $("#response").text(error.responseJSON.message);
                    }
                });
            });
        });
    </script>
</body>
</html>
